<!-- <div class="footer">
    <a href="/">Contact</a> | 
    <a href="https://www.linkedin.com/in/hritik-raj-63b5a0195">Hritik Raj</a>
</div> -->
<div class= "loader-wrapper">
    <div class='body'>
        <span>
        </span>
        <div class='base'>
          <span></span>
          <div class='face'></div>
        </div>
      </div>
      <div class='longfazers'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <h1 id="loader_h1">Loading</h1>
</div>
</body>
<script>window.addEventListener("load",function(){
    setTimeout(()=>{
      document.getElementsByClassName('loader-wrapper')[0].style.height="0";
      document.getElementsByClassName('loader-wrapper')[0].style.width="0";
      document.getElementsByClassName('loader-wrapper')[0].style.display="none";
        document.body.style.overflow= "auto";
      },600);
    });
    </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>